{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h2 class="mb-4">Platforms</h2>
<input class="form-control" id="brokers-filter" type="text" placeholder="Search..">
<br>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="bg-primary stoic-color">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="brokers-table">
    {% for broker in brokers %}
    <tr>
      <th scope="row">{{ forloop.counter0 }}</th>
      <td class="align-middle">{{ broker.id }}</td>
      <td class="align-middle">{{ broker.type }}</td>
      <td class="align-middle">
            <button data-broker="{{ broker.id }}" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
              data-target="#new_broker"><i class="fa fa-edit" aria-hidden="true"></i></button>
            <button onclick="location.href='{% url 'brokers:delete' %}?id={{ broker.id }}';" type="button"
              class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot class="bg-primary stoic-color">
  <tr>
    <td scope="col">#</td>
    <td scope="col">ID</td>
    <td scope="col">Type</td>
    <td scope="col">Action</td>
  </tr>
</tfoot>
</table>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_broker">New broker</button>
<div class="modal fade" id="new_broker" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New broker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new_broker_form" method="post" enctype="multipart/form-data" action="{% url 'brokers:new' %}">
          {% csrf_token %}
          {{ new_form.errors }}
          {{ new_form.media }}
          {{ new_form|bootstrap }}
          <div id="credentials"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="new_broker_submit" type="button" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Handlebars -->
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<!-- Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.js"
  integrity="sha256-/irFIZmSo2CKXJ4rxHWfrI+yGJuI16Z005X/bENdpTY=" crossorigin="anonymous"></script>

<!-- JSON-Editor -->
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<script>
  function load_modal(modal, title, form_action, submit_text, submit_event) {
    modal.find('.modal-title').text(title)
    //modal.find('.modal-body input').val(brokerId)
    modal.find('.modal-body form').attr('action', form_action)
    let submit = modal.find('#new_broker_submit')
    submit.text(submit_text)
    submit.click(submit_event)
  }

  $(() => {
    jsoneditor = null
    edit_jsoneditor = null

    $("#brokers-filter").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#brokers-table tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

    $('#new_broker').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var brokerId = button.data('broker') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
          let submit_event = () => {
              console.log("OOIIIIII")
              var broker_form = modal.find("#new_broker_form")
              if (!broker_form[0].reportValidity())
                return;
              let broker = jsoneditor.getValue()
              let body = {
                id: $('#broker_id').val(),
                type: $('#broker_type').val()
              }
              body = Object.assign(body, broker)

              $.ajax({
                method: "POST",
                url: (brokerId == undefined)?"{% url 'brokers:new' %}":"{% url 'brokers:edit' %}",
                headers: {
                  'content-type': 'application/json'
                },
                data: JSON.stringify(body)
              }).done(resp => {
                location.href = "{% url 'brokers:index' %}"
              });
          }
        if (brokerId == undefined) {
          $('#broker_type').prop( "disabled", false );
          $('#broker_id').prop( "disabled", false );
          $("#broker_type").trigger('change')
          load_modal(
            modal,
            'New broker',
            '{% url 'brokers:new' %}',
            'New broker',
            submit_event
          )
          modal.find('.modal-body input').val(brokerId)
        } else {
          load_modal(
            modal,
            'Edit ' + brokerId,
            '{% url 'brokers:edit' %}',
            'Save',
            submit_event
          )

            $.ajax({
              method: "GET",
              url: "{% url 'brokers:index' %}",
              headers: {
                'Accept': 'application/json'
              }
            }).done(brokers => {
              console.log(brokers)
              var broker = {}
              brokers.forEach(b => {
                if (b.id == brokerId) {
                  broker = b
                  return
                }
              });

            $('#broker_type').val(broker.type)
            $('#broker_id').val(broker.id)
            $('#broker_type').triggerHandler('change');
            delete broker.id
            delete broker.type
            jsoneditor.setValue(broker)
            $('#broker_type').prop( "disabled", true );
            $('#broker_id').prop( "disabled", true );
          })
        }
    })

    $("#broker_type").change((event) => {
      let brokerType = $(event.target).find(":selected").val()
      console.log("Valor Escolhido foi: " + brokerType);
      $.ajax({
        method: "GET",
        url: "http://"+ location.host +"/brokers/schema/" + brokerType,
        async: false
      }).done((data) => {
        console.log(data)
        let element = document.getElementById('credentials');
        let options = {
          "theme": "bootstrap4",
          "template": "handlebars",
          "iconlib": "fontawesome4",
          "form_name_root": "broker",
          "schema": data
        }
        if (jsoneditor) {
          jsoneditor.destroy()
        }
        jsoneditor = new JSONEditor(element, options);
      });
    })

  });
</script>
{% endblock %}
