{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h2 class="mb-4">Dashboard</h2>
<!-- <input class="form-control" id="devices-filter" type="text" placeholder="Search.."> -->
<br>

<div class="alert alert-primary" role="alert">Graphs of entangled entities will show replicated data. This dashboard is for auditing entity data, not for end users.</div>


<div class="container">
<div class="card-columns" id="charts">
  <!-- charts here -->
</div>
  <div class="row">

  </div>
  <div clas="row">

  </div>
  {% comment %} <div class="row" id="charts">
  </div> {% endcomment %}
</div>
<br>
<!-- <button type="button" class="btn btn-primary" onclick="location.href='{=% url 'manager:new' %}';">New devices</button> -->

<div class="modal fade" id="new_entity" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New entity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new_entity_form" method="post" action="{#% url 'manager:entities_new' %#}">
          {#% csrf_token %#}
          {#{ form.errors }#}
          {#{ form|bootstrap }#}
          <label class="control-label">Attributes</label>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Type</th>
                <th scope="col">Metadata</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="attrs_forms">
            </tbody>
          </table>
          <div class="form-group">
            <button id="add_attr_form" type="button" class="btn btn-primary">Add attribute</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    $(document).ready(function(){
      $("#devices-filter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#devices-table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $('#add_attr_form').on('click', function(event) {
        var time = $('#attrs_forms')[0].childElementCount
        console.log("TIME" + time)
        var tag = `
              <tr>
                <td  class="align-middle" scope="row"><input type="text" name="attrs[${time}][name]" maxlength="30" class=" form-control" required></td>
                <td class="align-middle"><input type="text" name="attrs[${time}][value]" maxlength="30" class=" form-control" required></td>
                <td class="align-middle"><input type="text" name="attrs[${time}][type]" maxlength="30" class=" form-control" required></td>
                <td class="align-middle"><input type="text" name="attrs[${time}][metadata]" maxlength="30" class=" form-control"></td>
                <td class="align-middle">
                </td>
              </tr>`
        $('#attrs_forms').append(tag)
      })
    });

  function addData(chart, label, data) {
    if (typeof chart == "string") {
      try {
        JSON.stringify(data)
      } catch(e) {
        $(document.getElementById(chart)).text(data)
        $(document.getElementById(`${chart}-label`)).text(new Date().toLocaleTimeString())
        return;
      }
      data = JSON.stringify(data)
      $(document.getElementById(chart)).text(data)
      $(document.getElementById(`${chart}-label`)).text(new Date().toLocaleTimeString())
      return;
    }
    chart.data.datasets.forEach((dataset) => {
        if (dataset.data.length > 6) {
          chart.data.labels.shift()
          dataset.data.shift()
        }
        dataset.data.push(Number(data));
        chart.data.labels.push(new Date().toLocaleTimeString());
    });
    chart.update();
  }

  entities = {}

  function generateChart($panel, entities, entity, attr) {
    
    entities[`${entity.broker}:${entity.type}:${entity.id}`][attr] = {id: `${entity.broker}-${entity.type}-${entity.id}-${attr}`};
    
    if (!isNaN(entity[attr].value)) {
      $panel.find('.card-body').append(`<canvas id="${entity.broker}-${entity.type}-${entity.id}-${attr}" width="400" height="400"></canvas>`)
      entities[`${entity.broker}:${entity.type}:${entity.id}`][attr].chart = new Chart(document.getElementById(`${entity.broker}-${entity.type}-${entity.id}-${attr}`), {
        type: 'line',
        data: {
          labels: [new Date().toLocaleTimeString()],
          datasets: [{ 
              data: [entity[attr].value],
              label: `${attr} (${entity[attr].type})`,
              borderColor: '#'+(Math.random()*0xFFFFFF<<0).toString(16),
              fill: false
            }
          ]
        },
        options: {
          title: {
            display: false,
            text: 'Park'
          }
        }
      });
    } else {
      $panel.find('.card-body').append(`
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">${attr} (${entity[attr].type})</h5>
          <h6 class="card-subtitle mb-2 text-muted" id="${entity.broker}-${entity.type}-${entity.id}-${attr}-label">${new Date().toLocaleTimeString()}</h6>
          <p class="card-text" id="${entity.broker}-${entity.type}-${entity.id}-${attr}">${entity[attr].value}</p>
        </div>
      </div>
      `)
      entities[`${entity.broker}:${entity.type}:${entity.id}`][attr].chart = `${entity.broker}-${entity.type}-${entity.id}-${attr}`;
    }
  }

  function generateDashboard(data) {

    data.sort(( a, b ) => {
      if ( `${a.type}:${a.id}` < `${b.type}:${b.id}`){
        return -1;
      }
      if (`${a.type}:${a.id}` > `${b.type}:${b.id}`){
        return 1;
      }
      return 0;
    });
    data.forEach((entity) => {
      if (!(`${entity.broker}:${entity.type}:${entity.id}` in entities)) {
        entities[`${entity.broker}:${entity.type}:${entity.id}`] = {}
        {% comment %} var panel = `
        <div class="col-sm-12 col-md-4 col-lg-3	col-xl-4 mb-4">
          <div class="card" id="${entity.broker}:${entity.type}:${entity.id}">
            <h5 class="card-header bg-primary stoic-color">
              <span class="chart-title">${entity.id}</span>
            </h5>
            <div class="card-body">
            </div>
            <div class="card-footer text-muted">
              <span class="badge badge-warning">${entity.broker}</span> <span class="badge badge-primary">${entity.type}</span>
            </div>
          </div>
        </div>`; {% endcomment %}
          var panel = `
          <div class="card" id="${entity.broker}:${entity.type}:${entity.id}">
            <h5 class="card-header bg-primary stoic-color">
              <span class="chart-title">${entity.id}</span>
            </h5>
            <div class="card-body">
            </div>
            <div class="card-footer text-muted">
              <span class="badge badge-warning">${entity.broker}</span> <span class="badge badge-primary">${entity.type}</span>
            </div>
          </div>
        `;
        var $panel = $(panel)
        $('#charts').append($panel)
        for (var attr in entity) {
          if (entity[attr] instanceof Object) {
            generateChart($panel, entities, entity, attr)
          }
        }
      } else {
        for (var attr in entity) {
          if (entity[attr] instanceof Object) {
            //entities[`${entity.type}:${entity.id}`][attr] = {id: `${entity.type}-${entity.id}-${attr}`} ;
            if (attr in entities[`${entity.broker}:${entity.type}:${entity.id}`]) {
              var chart = entities[`${entity.broker}:${entity.type}:${entity.id}`][attr].chart
              var value = entity[attr].value
              addData(chart, 8, entity[attr].value)
            } else {
              $panel = $(document.getElementById(`${entity.broker}:${entity.type}:${entity.id}`))
              generateChart($panel, entities, entity, attr)
            }
          }
        }
      }
          
    })

  }
  // if (typeof count == "undefined")
  //   count = 0;
  
  (function loop() {
    $.ajax({
      url: '/manager/dashboard/update',
      success: (data) => {
        generateDashboard(data)
      }
    });
    setTimeout(loop, {{delay}});
  })();


</script>
<script>

</script>
{% endblock %}