{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h1>Devices</h1>
<form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    {% if action == 'new' %}
        <input type="submit" role="button" class="btn btn-primary" value="Create">
    {% else %}
        <input type="submit" role="button" class="btn btn-primary" value="Update">
    {% endif %}
</form>
{% endblock %}