/*
  Copyright (c) 2011 The Google Chart Tools Authors
  
  Permission is hereby granted, free of charge, to any person obtaining
  a copy of this software and associated documentation files (the
  "Software"), to deal in the Software without restriction, including
  without limitation the rights to use, copy, modify, merge, publish,
  distribute, sublicense, and/or sell copies of the Software, and to
  permit persons to whom the Software is furnished to do so, subject to
  the following conditions:
  
  The above copyright notice and this permission notice shall be
  included in all copies or substantial portions of the Software.
  
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
  LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
  OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
  WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/* Labels */
.google-visualization-controls-theme-plus .google-visualization-controls-label {
  color: #333;
  line-height: 27px;
  font-size: 13px;
}

/* NumberRangeFilter */

/* NumberRangeFilter: label showing the current thumb value */
.google-visualization-controls-theme-plus .google-visualization-controls-rangefilter-thumblabel {
  font-size: 14px;
  font-weight: normal;
  color: #666;
  line-height: 27px;
  height: 27px;
  position: absolute;
  top: 50px;
  z-index: 10;
}

.google-visualization-controls-theme-plus .google-visualization-controls-rangefilter-thumblabel:last-child{
	right: 5px;
}

/* NumberRangeFilter: slider bar */
.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal {
  background-color: #d1d1d1;
  border: 0;
  outline: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;  
  width: 100%;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal {
  height: 40px;
  top: -0.2em;
  margin: 0 0.3em;  
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal:hover{
  background-color: #d1d1d1;
}

/* NumberRangeFilter: slider thumbs */
.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal .google-visualization-controls-slider-thumb{
  background-color: #fff;//#999;
  border: 1px solid #999;
  width: 30px;
  height: 50px;
  /*border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;*/
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal .google-visualization-controls-slider-thumb {
  top: -5px;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal DIV.google-visualization-controls-slider-thumb:nth-last-of-type(2) {
  width: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal DIV:last-of-type {
  width: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical DIV.google-visualization-controls-slider-thumb:nth-last-of-type(2) {
  height: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical DIV:last-of-type {
  height: 8px;
 border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal:hover .google-visualization-controls-slider-thumb,
.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal:focus .google-visualization-controls-slider-thumb{
  background-color: #fff;
  //cursor: pointer;
  //cursor: col-resize;  
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical:hover .google-visualization-controls-slider-thumb,
.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical:focus .google-visualization-controls-slider-thumb{
  background-color: #fff;
  //cursor: pointer;
  //cursor: row-resize;
}

/* NumberRangeFilter: slider central handle */
.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal .google-visualization-controls-slider-handle {
  background-color: #999;//c6c6c6;
  opacity: 1;
  height: 40px;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical .google-visualization-controls-slider-handle {
  background-color: #999;//c6c6c6;
  opacity: 1;
  width: 5px;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal:hover .google-visualization-controls-slider-handle,
.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal:focus .google-visualization-controls-slider-handle,
.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical:hover .google-visualization-controls-slider-handle,
.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical:focus .google-visualization-controls-slider-handle {
  background-color: #999;//535252;
  
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal:active .google-visualization-controls-slider-handle,
.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical:active .google-visualization-controls-slider-handle {
  /*background-color:#999;
	background-size:6px 6px;
	background-position:left -1px;
	background-repeat:repeat-x;
	background-image:-webkit-linear-gradient(135deg, transparent, transparent 3px, #fff 3px, #fff 4px, transparent 4px, transparent);
	background-image:-moz-linear-gradient(135deg, transparent, transparent 3px, #fff 3px, #fff 4px, transparent 4px, transparent);
	background-image:-o-linear-gradient(135deg, transparent, transparent 3px, #fff 3px, #fff 4px, transparent 4px, transparent);
	background-image:linear-gradient(135deg, transparent, transparent 3px, #fff 3px, #fff 4px, transparent 4px, transparent);*/
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-horizontal:active .google-visualization-controls-slider-handle {
  background-repeat:repeat-x;
}

.google-visualization-controls-theme-plus .google-visualization-controls-slider-vertical:active .google-visualization-controls-slider-handle {
	background-repeat:repeat-y;
}