/*

	INSTRUCTIONS ---------------------------------------------------------------------------------
  
  1. link this stylesheet in the head of your HTML
  	 <link href="YOUR PATH/datedropper-blue.css" rel="stylesheet" type="text/css" />
     
  2. Set the file name as data-theme attribute on your input
  	 <input data-theme="datedropper-blue" />
     
  3. That's it!
  
  When you run script the style will be automatically applied.

*/
div.datedropper.datedropper-blue {
  border-radius: 8px;
  width: 180px;
}
div.datedropper.datedropper-blue .picker {
  border-radius: 8px;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}
div.datedropper.datedropper-blue .pick-l {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.datedropper.datedropper-blue:before,
div.datedropper.datedropper-blue .pick-submit,
div.datedropper.datedropper-blue .pick-lg-b .pick-sl:before,
div.datedropper.datedropper-blue .pick-m,
div.datedropper.datedropper-blue .pick-lg-h {
  background-color: #1977CC;
}
div.datedropper.datedropper-blue .pick-y.pick-jump,
div.datedropper.datedropper-blue .pick li span,
div.datedropper.datedropper-blue .pick-lg-b .pick-wke,
div.datedropper.datedropper-blue .pick-btn {
  color: #1977CC;
}
div.datedropper.datedropper-blue .picker,
div.datedropper.datedropper-blue .pick-l {
  background-color: #FFF;
}
div.datedropper.datedropper-blue .picker,
div.datedropper.datedropper-blue .pick-arw,
div.datedropper.datedropper-blue .pick-l {
  color: #4D4D4D;
}
div.datedropper.datedropper-blue .pick-m,
div.datedropper.datedropper-blue .pick-m .pick-arw,
div.datedropper.datedropper-blue .pick-lg-h,
div.datedropper.datedropper-blue .pick-lg-b .pick-sl,
div.datedropper.datedropper-blue .pick-submit {
  color: #FFF;
}
div.datedropper.datedropper-blue.picker-tiny:before,
div.datedropper.datedropper-blue.picker-tiny .pick-m {
  background-color: #FFF;
}
div.datedropper.datedropper-blue.picker-tiny .pick-m,
div.datedropper.datedropper-blue.picker-tiny .pick-m .pick-arw {
  color: #4D4D4D;
}
div.datedropper.datedropper-blue.picker-lkd .pick-submit {
  background-color: #FFF;
  color: #4D4D4D;
}
