{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h1>Projects</h1>
<input class="form-control" id="devices-filter" type="text" placeholder="Search..">
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">File</th>
      <th scope="col">Last Modified</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="devices-table">
    {% for file in files %}
    <tr>
      <th scope="row">{{ forloop.counter0 }}</th>
      <td class="align-middle"><a href="{% url 'projects:edit' %}?name={{ file.name }}">{{ file.name }}</a></td>
      <td class="align-middle">{{ file.last_modified }}</td>
      <td class="align-middle">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            {% if not file.active %}
            <button onclick="location.href='{% url 'projects:activate' %}?name={{ file.name }}';" type="button" class="btn btn-success btn-sm"><i class="fa fa-play" aria-hidden="true"></i></button>
            {% endif %}
            <button onclick="location.href='{% url 'projects:delete' %}?name={{ file.name }}';" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_project">New project</button>
<div class="modal fade" id="new_project" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new_project_form" method="post" enctype="multipart/form-data" action="{% url 'projects:new' %}">
          {% csrf_token %}
          {{ form.errors }}
          {{ form|bootstrap }}
        </form>
      </div>
      <div class="modal-footer">
        <button id="new_project_submit" type="button" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
      $("#devices-filter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#devices-table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $('#new_project').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('project') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          if (recipient != undefined) {
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
          }
          modal.find('#new_project_submit').click(function() {
            if (modal.find("#new_project_form")[0].reportValidity())
              modal.find("#new_project_form").trigger('submit')
          })
          console.log(modal.find('#new_project_submit'))
        })
      });
</script>
{% endblock %}