{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h2 class="mb-4">Links</h2>
<input class="form-control" id="devices-filter" type="text" placeholder="Search..">
<br>
<div class="alert alert-primary" role="alert">
  Fiware platform supports the association of a device to only one entity.
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="bg-primary stoic-color">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Entity Type</th>
      <th scope="col">Entity ID</th>
      <th scope="col">Device Type</th>
      <th scope="col">Device ID</th>
      <th scope="col">Mapping</th>
      <th scope="col">Broker</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="devices-table">
    {% for association in associations %}
    <tr>
      <th  class="align-middle" scope="row">{{ forloop.counter0 }}</th>
      <td class="align-middle">{{ association.id }}</td>
      <td class="align-middle">{{ association.entity_type }}</td>
      <td class="align-middle">{{ association.entity_id }}</td>
      <td class="align-middle">{{ association.device_type }}</td>
      <td class="align-middle">{{ association.device_id }}</td>
      {% if not association.mapping %}
      <td class="align-middle"><span class="badge badge-pill badge-primary">{{ "generic" }}</div></td>
      {% else %}
      <td class="align-middle">
      {% for attr, map in association.mapping.items %}
      {% comment %} [{{ attr }}] => ({{ map.name }},{{ map.type }})<br/> {% endcomment %}
      <span class="badge badge-pill badge-success">{{ attr }}</span> <i class="fas fa-long-arrow-alt-right"></i> <span class="badge badge-pill badge-warning">{{ map.name }}</span> <span class="badge badge-pill badge-info">{{ map.type }}</span><br/>
      {% endfor %}
      </td>
      {% endif %}
      <td class="align-middle">{{ association.broker }}</td>
      <td class="align-middle">
            <!-- <button onclick="location.href='{=% url 'manager:index' %}';" type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> -->
          <button onclick="location.href='{% url 'manager:associations_delete' %}?broker={{ association.broker }}&id={{ association.id }}';" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></button>
      </td>
    </tr>
    {% endfor %}
  <tfoot class="bg-primary stoic-color">
    <tr>
      <td scope="col">#</td>
      <td scope="col">ID</td>
      <td scope="col">Entity Type</td>
      <td scope="col">Entity ID</td>
      <td scope="col">Device Type</td>
      <td scope="col">Device ID</td>
      <td scope="col">Mapping</td>
      <td scope="col">Broker</td>
      <td scope="col">Action</td>
    </tr>
  </tfoot>
  </tbody>
</table>
</div>
<!-- <button type="button" class="btn btn-primary" onclick="location.href='{=% url 'manager:new' %}';">New devices</button> -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_association">New link</button>

<div class="modal fade" id="new_association" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new_association_form" method="post" action="{% url 'manager:associations_new' %}">
          {% csrf_token %}
          {{ form.errors }}
          {{ form|bootstrap }}
          <label class="control-label">Attributes</label>
          <table class="table table-bordered">
            <thead class="bg-primary stoic-color">
              <tr>
                <th scope="col">Device attribute</th>
                <th scope="col">Entity attribute</th>
                <th scope="col">Entity attribute type</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="attrs_forms">
            </tbody>
          </table>
          <div class="form-group">
            <button id="add_attr_form" type="button" class="btn btn-primary">Add map</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="new_association_submit" type="button" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
    $(() => {
      $("#devices-filter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#devices-table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      let _devices = {}
      let _entities = {}
      let broker_id = null

      $("#broker_id").on('change', (event)=>{
        //event.stopPropagation()
        $("#new_association_submit").prop( "disabled", true )
        $("#device_type").prop( "disabled", true );
        $("#device_id").prop( "disabled", true );
        $("#entity_type").prop( "disabled", true );
        $("#entity_id").prop( "disabled", true );
        $("#add_attr_form").prop( "disabled", true )
        $("#attrs_forms").find("input").prop( "disabled", true )

        broker_id = $("#broker_id").val()
        $.ajax({
            method: "GET",
            url: "{% url 'manager:entities_index' %}",
            headers: {
              'Accept': 'application/json'
            }
          }).done(entities => {
            $("#entity_type").empty()
            _entities = entities
            let types = entities.filter(dev => {
              return dev.broker == broker_id
            })
            .map(dev => {
              return dev.type
            })
            types = new Set(types)
            types.forEach((type)=>{
              $("#entity_type").append(new Option(type, type))
            })
            $("#entity_type").prop("disabled", false)
            $("#entity_type").trigger('change')
          })

        $.ajax({
            method: "GET",
            url: "{% url 'manager:devices_index' %}",
            headers: {
              'Accept': 'application/json'
            }
          }).done(devices => {
            $("#device_type").empty()
            _devices = devices
            let types = devices.filter(dev => {
              return dev.broker == broker_id
            })
            .map(dev => {
              return dev.type
            })
            types = new Set(types)
            types.forEach((type)=>{
              $("#device_type").append(new Option(type, type))
            })
            $("#device_type").prop("disabled", false)
            $("#device_type").trigger('change')
          })
      }).trigger('change')

      $("#device_type").on('change',()=>{
        $("#device_id").empty()
        _devices.forEach((device)=>{
          if (device.type == $("#device_type").val() && device.broker == broker_id)
            $("#device_id").append(new Option(device.id, device.id))
        })
        $("#device_id").prop("disabled", false)
        $("#add_attr_form").prop( "disabled", false )
        $("#attrs_forms").find("input").prop( "disabled", false )
        $("#new_association_submit").prop( "disabled", false )
      })

      $("#entity_type").on('change',()=>{
        $("#entity_id").empty()
        _entities.forEach((entity)=>{
          if (entity.type == $("#entity_type").val() && entity.broker == broker_id)
            $("#entity_id").append(new Option(entity.id, entity.id))
        })
        $("#entity_id").prop("disabled", false)
      })

      $('#new_association').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('project') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        if (recipient != undefined) {
          modal.find('.modal-title').text('New message to ' + recipient)
          modal.find('.modal-body input').val(recipient)
        }
        modal.find('#new_association_submit').click(function() {
          if (modal.find("#new_association_form")[0].reportValidity())
            modal.find("#new_association_form").trigger('submit')
        })
        console.log(modal.find('#new_association_submit'))
      })

      $('#add_attr_form').on('click', function(event) {
        var time = $('#attrs_forms')[0].childElementCount
        var tag = `
              <tr>
                <td  class="align-middle" scope="row"><input type="text" name="attrs[${time}][device_attr]" maxlength="30" class=" form-control" required></td>
                <td class="align-middle"><input type="text" name="attrs[${time}][entity_attr]" maxlength="30" class=" form-control" required></td>
                <td class="align-middle"><input type="text" name="attrs[${time}][entity_attr_type]" maxlength="30" class=" form-control" required></td>
                <td class="align-middle">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button onclick="$(this).closest('tr').remove()" type="button" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </td>
              </tr>`
        $('#attrs_forms').append(tag)
      })
    });
</script>
{% endblock %}