{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h1>Broker {{ data.id }}</h1>
<script>
function prettify(sel) {
    text = JSON.parse(document.querySelector(sel).innerHTML.replace(/'/g, '"'))
    document.querySelector(sel).innerHTML = JSON.stringify(text, null, 4)
}


function minify(sel) {
    text = JSON.parse(document.querySelector(sel).innerHTML.replace(/'/g, '"'))
    document.querySelector(sel).innerHTML = JSON.stringify(text, null, 0)
}
</script>
<form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>Save</button>
        <button onclick="prettify('#id_text')" type="button" class="btn btn-warning">Prettify</button>
        <button onclick="minify('#id_text')" type="button" class="btn btn-warning">Minify</button>
    </div>
</form>
{% endblock %}