{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h2 class="mb-4">Tasks</h2>
<input class="form-control" id="devices-filter" type="text" placeholder="Search..">
<br>
<div class="alert alert-primary" role="alert">
  Watson does not currently support "idPattern" (regex) entries. Under construction.
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="bg-primary stoic-color">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
      <th scope="col">Entity</th>
      <th scope="col">Broker</th>
      <th scope="col">Condition</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="devices-table">
    {% for task in tasks %}
    <tr>
      <th scope="row">{{ forloop.counter0 }}</th>
      <td class="align-middle">{{ task.id }}</td>
      <td class="align-middle">{{ task.description }}</td>
      <td class="align-middle">
        {% for entity in task.trigger.entities %}
          {% if entity.type %}Type:{{ entity.type }} | {% endif %}
          {% if entity.id %}ID:{{ entity.id }} | {% endif %}
          {% if entity.idPattern %}idPattern:{{ entity.idPattern }}{% endif %}
          <br/>
        {% endfor %}
      </td>
      <td class="align-middle">{{ task.broker }}</td>
      {% if task.trigger.condition %}
      <td class="align-middle">{{ task.trigger.condition }}</td>
      {% else %}
      <td class="align-middle">ALL</td>
      {% endif %}
      <td class="align-middle">
            <button data-task="{{ task.id }}" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
              data-target="#edit_task"><i class="fa fa-edit" aria-hidden="true"></i></button>
            <button onclick="location.href='{% url 'manager:tasks_delete' %}?id={{ task.id }}&broker={{ task.broker }}';" type="button"
              class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
    <tfoot class="bg-primary stoic-color">
    <tr>
      <td scope="col">#</td>
      <td scope="col">ID</td>
      <td scope="col">Description</td>
      <td scope="col">Entity</td>
      <td scope="col">Broker</td>
      <td scope="col">Condition</td>
      <td scope="col">Action</td>
    </tr>
  </tfoot>
</table>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_task">New task</button>
<div class="modal fade" id="new_task" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new_task_form" method="post" enctype="multipart/form-data" action="{% url 'manager:tasks_new' %}" onsubmit="onNewTasksubmit">
          {% csrf_token %}
          {{ form.errors }}
          {{ form|bootstrap }}
          <div id="credentials"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="new_task_submit" type="button" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit_task" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Edit task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit_task_form" method="post" enctype="multipart/form-data" action="{% url 'manager:tasks_edit' %}">
          {% csrf_token %}
          {{ edit_form.errors }}
          {{ edit_form|bootstrap }}
          <div id="edit_credentials"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="edit_task_submit" type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Handlebars -->
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<!-- Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.js"
  integrity="sha256-/irFIZmSo2CKXJ4rxHWfrI+yGJuI16Z005X/bENdpTY=" crossorigin="anonymous"></script>

<!-- JSON-Editor -->
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<script>
  function edit(taskId) {
    $.ajax({
      method: "GET",
      url: "http://" + location.hostname + ":8000/manager/tasks/",
      headers: {
        'Accept': 'application/json'
      }
    }).done(tasks => {
      console.log(tasks)
      var task = {}
      tasks.forEach(b => {
        if (b.id == taskId) {
          task = b
          return
        }
      });
      $("#new_task").trigger('show.bs.modal')

      $('#broker_id').val(task.broker)
      delete task.broker

      jsoneditor.setValue(task)
    });
    // $.get("http://localhost:8000/tasks/", , (data) => {
    //       console.log(data)
    //       var task = {}
    //       data.forEach(b => {
    //         if (b.id == taskId) {
    //           task = b
    //           return
    //         }
    //       });

    //       let element = document.getElementById('credentials');
    //       let options = {
    //         "theme": "bootstrap4",
    //         "template": "handlebars",
    //         "iconlib": "fontawesome4",
    //         "form_name_root": "task",
    //         "schema": data
    //       }
    //       if (jsoneditor) {
    //         jsoneditor.destroy()
    //       }
    //       jsoneditor = new JSONEditor(element, options);
    //     })
  }

  function onNewTasksubmit() {
    //event.preventDefault()
    let body = {
      id: $('#task_id').val(),
      type: $('#task_type').val()
    }
    body = Object.assign(body, jsoneditor.getValue())
    $.ajax({
      method: "POST",
      url: "{% url 'manager:tasks_new' %}",
      data: body
    }).done(resp => {
      console.log(resp)
    });
    return false;
  }

  $(document).ready(function () {
    jsoneditor = null
    edit_jsoneditor = null

    schema = {
  "title": "Task",
  "type": "object",
  "required": [
    "trigger",
    "action"
  ],
  "additionalProperties": false,
  "properties": {
    "description": {
      "title": "Description",
      "type": "string"
    },
    "trigger": {
      "title": "Trigger",
      "type": "object",
      "properties": {
        "entities": {
          "title": "Entity",
          "type": "array",
          "items": {
            "oneOf": [
              {
                "title": "Entity by ID",
                "type": "object",
                "required": [
                  "id",
                  "type"
                ],
                "additionalProperties": false,
                "properties": {
                  "id": {
                    "title": "ID",
                    "type": "string"
                  },
                  "type": {
                    "title": "Type",
                    "type": "string"
                  }
                }
              },
              {
                "title": "Entity by Pattern",
                "type": "object",
                "required": [
                  "idPattern",
                  "type"
                ],
                "additionalProperties": false,
                "properties": {
                  "idPattern": {
                    "title": "ID Regex Pattern",
                    "type": "string"
                  },
                  "type": {
                    "title": "Type",
                    "type": "string"
                  }
                }
              }
            ]
          }
        },
        "condition": {
          "title": "Condition",
          "type": "string"
        }
      }
    },
    "action": {
      "title": "Action",
      "type": "object",
      "oneOf": [
        {
          "required": [
            "http"
          ],
          "additionalProperties": false,
          "properties": {
            "http": {
              "title": "Default Action",
              "type": "object",
              "properties": {
                "url": {
                  "title": "Target URL",
                  "type": "string",
                  "format": "url"
                }
              }
            }
          }
        },
        {
          "required": [
            "httpCustom"
          ],
          "additionalProperties": false,
          "properties": {
            "httpCustom": {
              "title": "Custom Action",
              "type": "object",
              "properties": {
                "url": {
                  "title": "Target URL",
                  "type": "string",
                  "format": "url"
                },
                "headers": {
                  "title": "HTTP Headers",
                  "type": "object"
                },
                "params": {
                  "title": "Query Params",
                  "type": "object"
                },
                "method": {
                  "title": "Method",
                  "type": "string",
                  "enum": [
                    "GET",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE"
                  ]
                },
                "payload": {
                  "title": "Payload",
                  "anyOf": [
                    {
                      "type": "object"
                    },
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              }
            }
          }
        }
      ]
    }
  }
}

    $("#devices-filter").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#devices-table tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });

    $('#new_task').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var taskId = button.data('task') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      if (taskId != undefined) {
        modal.find('.modal-title').text('New message to ' + taskId)
        modal.find('.modal-body input').val(taskId)
      }
      modal.find('#new_task_submit').click(function () {
        var task_form = modal.find("#new_task_form")
        if (task_form[0].reportValidity())
          task_form = modal.find("#new_task_form")
        let task = jsoneditor.getValue()
        let body = {
          id: taskId
        }
        body = Object.assign(body, task)
        $("<input />").attr("type", "hidden")
          .attr("id","task-body")
          .attr("name", "task")
          .attr("value", JSON.stringify(body))
          .appendTo(task_form);
        modal.find("#new_task_form").trigger('submit')
        $("#task-body").remove()
        //onNewTasksubmit()
      })
      console.log(modal.find('#new_task_submit'))
    })

    $('#edit_task').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var taskId = button.data('task') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      if (taskId != undefined) {
        modal.find('.modal-title').text('Edit ' + taskId)
        modal.find('.modal-body input').val(taskId)
      }
      modal.find('#edit_task_submit').click(function () {
        var task_form = modal.find("#edit_task_form")
        if (task_form[0].reportValidity())
          task_form = modal.find("#edit_task_form")
          let task = edit_jsoneditor.getValue()
        let body = {
          id: taskId,
          broker: $('#edit_broker_id').val()
        }
        body = Object.assign(body, task)
        $("<input />").attr("type", "hidden")
          .attr("name", "task")
          .attr("value", JSON.stringify(body))
          .appendTo(task_form);
        modal.find("#edit_task_form").trigger('submit')
      })

      $.ajax({
        method: "GET",
        url: "http://" + location.hostname + ":8000/manager/tasks",
        headers: {
          'Accept': 'application/json'
        }
      }).done(tasks => {
        console.log(tasks)
        var task = {}
        tasks.forEach(b => {
          if (b.id == taskId) {
            task = b
            return
          }
        });

        //$('#edit_task_type').trigger('change')
        //$('#edit_task_type').triggerHandler('change');
        $("#edit_broker_id").val(task.broker)
        delete task.broker
        options = {
          "theme": "bootstrap4",
          "template": "handlebars",
          "iconlib": "fontawesome4",
          "form_name_root": "task",
          "schema": schema
        }
        if (edit_jsoneditor) {
          edit_jsoneditor.destroy()
        }
        edit_jsoneditor = new JSONEditor(element, options);
        edit_jsoneditor.setValue(task)
        $('#edit_broker_id').prop( "disabled", true );
      });

      console.log(modal.find('#edit_task_submit'))
    })

    let element = document.getElementById('credentials');
    let options = {
      "theme": "bootstrap4",
      "template": "handlebars",
      "iconlib": "fontawesome4",
      "form_name_root": "task",
      "schema": schema
    }
    if (jsoneditor) {
      jsoneditor.destroy()
    }
    jsoneditor = new JSONEditor(element, options);

    element = document.getElementById('edit_credentials');
    options = {
      "theme": "bootstrap4",
      "template": "handlebars",
      "iconlib": "fontawesome4",
      "form_name_root": "task",
      "schema": schema
    }
    if (edit_jsoneditor) {
      edit_jsoneditor.destroy()
    }
    edit_jsoneditor = new JSONEditor(element, options);

  });
</script>
{% endblock %}
