{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h2 class="mb-4">Entities</h2>
<input class="form-control" id="entities-filter" type="text" placeholder="Search..">
<br>
<div class="alert alert-primary" role="alert">Fiware creates Thing entities automatically for each device created. They can be removed after associating the devices with other entities. If you want a description, you may create an attribute called "description" at the entity.</div>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="bg-primary stoic-color">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Broker</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="entities-table">
    {% for entity in entities %}
    <tr>
      <th  class="align-middle" scope="row">{{ forloop.counter0 }}</th>
      <td class="align-middle">{{ entity.id }}</td>
      <td class="align-middle">{{ entity.type }}</td>
      {% if 'description' in entity %}
      <td class="align-middle">{{ entity.description }}</td>
      {% else %}
      <td class="align-middle">No description</td>
      {% endif %}
      <td class="align-middle">{{ entity.brokers|join:"| " }}</td>
      <td class="align-middle">
          <button data-entity="{{ entity.id }}" data-entity-type="{{ entity.type}}" data-brokers="{{ entity.brokers }}" data-mode="edit" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#new_entity"><i class="fa fa-edit" aria-hidden="true"></i></button>
          <button onclick="location.href='{% url 'manager:entities_delete' %}?type={{ entity.type }}&id={{ entity.id }}&brokers={{ entity.brokers|join:"," }}';" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot class="bg-primary stoic-color">
    <tr>
      <td scope="col">#</td>
      <td scope="col">ID</td>
      <td scope="col">Type</td>
      <td scope="col">Description</td>
      <td scope="col">Broker</td>
      <td scope="col">Action</td>
    </tr>
  </tfoot>
</table>
</div>
<!-- <button type="button" class="btn btn-primary" onclick="location.href='{=% url 'manager:new' %}';">New devices</button> -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_entity">New entity</button>

<div class="modal fade" id="new_entity" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New entity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new_entity_form" method="post" action="{% url 'manager:entities_new' %}" >
          {% csrf_token %}
          {{ form.errors }}
          {{ form|bootstrap }}
          <label class="control-label">Attributes</label>
          <table class="table table-bordered">
            <thead class="bg-primary stoic-color">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Type</th>
                <th scope="col">Metadata</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="attrs_forms">
            </tbody>
          </table>
          <div class="form-group">
            <button id="add_attr_form" type="button" class="btn btn-primary">Add attribute</button>
          </div>
        </form>
        <p><b>Pay atention:</b> In the value field you may insert any string, number or valid JSON object. In the field metadata you may put any valid JSON object.</p>
      </div>
      <div class="modal-footer">
        <button id="new_entity_submit" type="button" class="btn btn-primary"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span> <span class="title">Create</span></button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
    function load_modal(modal, title, form_action, submit_text, submit_event) {
      modal.find('.modal-title').text(title)
      //modal.find('.modal-body input').val(brokerId)
      modal.find('.modal-body form').attr('action', form_action)
      let submit = modal.find('#new_entity_submit .title')
      submit.text(submit_text)
      submit.click(submit_event)
    }

    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }

    function add_attr() {
      var time = $('#attrs_forms')[0].childElementCount
      console.log("TIME" + time)
      var tag = `
            <tr>
              <td  class="align-middle" scope="row"><input type="text" name="attrs[${time}][name]" maxlength="30" class=" form-control" required></td>
              <td class="align-middle"><input type="text" name="attrs[${time}][value]" class=" form-control" required></td>
              <td class="align-middle"><input type="text" name="attrs[${time}][type]" maxlength="30" class=" form-control" required></td>
              <td class="align-middle"><input type="text" name="attrs[${time}][metadata]" class=" form-control"></td>
              <td class="align-middle">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button onclick="$(this).closest('tr').remove()" type="button" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button>
                  </div>
                </div>
              </td>
            </tr>`
      $('#attrs_forms').append(tag)
    }

    $(() => {
      $("#entities-filter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#entities-table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $('#new_entity').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var entityId = button.data('entity') // Extract info from data-* attributes
        var entityType = button.data('entity-type')
        var brokers = button.data('brokers')
        try {
          brokers = brokers.replace(/\'/g,"\"")
          brokers = JSON.parse(brokers)
        } catch(e) {

        }
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)

        function submit_event () {
              var entity_form = modal.find("#new_entity_form")
              if (!entity_form[0].reportValidity())
                return;
              let body = {
                brokers: $('#id_brokers').val(),
                id: $("#entity_id").val(),
                type: $("#entity_type").val(),
                attrs: []
              }
              //body = Object.assign(body, broker)

              document.querySelectorAll("#new_entity_form tbody tr").forEach(tr=>{
                $inputs = $(tr).find("input")
                var attr = {}
                $inputs.each(i=>{
                    input = $inputs[i]
                    params = input.name.replace(/\[|\]/g,"_").replace("__","_").split("_")
                    if (params[2] == "value" || params[2] == "metadata") {
                      try {
                        attr[params[2]] = JSON.parse(input.value)
                      } catch (e) {
                        if (params[2] == "metadata") {
                          input.setCustomValidity("Should be a valid JSON object")
                          return;
                        }
                        attr[params[2]] = input.value
                      }
                    } else {
                      attr[params[2]] = input.value
                    }
                  })
                body.attrs.push(attr)
                })
              $('#new_entity_submit .title').show()
              $.ajax({
                method: "POST",
                url: (entityId == undefined)?"{% url 'manager:entities_new' %}":"{% url 'manager:entities_edit' %}",
                headers: {
                  'content-type': 'application/json'
                },
                data: JSON.stringify(body)
              }).done(resp => {
                location.href = "{% url 'manager:entities_index' %}"
              });
        }
        $('form')[0].reset()
        $('.selectpicker').selectpicker('val', []);
        $("#new_entity_form tbody").empty()

        if (entityId == undefined) {
          $('#id_brokers').prop( "disabled", false );
          $('#entity_type').prop( "disabled", false );
          $('#entity_id').prop( "disabled", false );
          load_modal(modal, "New entity", "{% url 'manager:entities_new' %}", "New entity", submit_event)
        } else {
          load_modal(
            modal,
            `Edit ${entityId} - [${entityType}]`,
            '{% url 'manager:entities_edit' %}',
            'Save',
            submit_event
          )


          $.ajax({
              method: "GET",
              url: "{% url 'manager:entities_index' %}",
              data: { 
                clustered: true
              },
              headers: {
                'Accept': 'application/json'
              }
            }).done(entities => {
              console.log(entities)
              var entity = {}
              entities.forEach(e => {
                let obj = {}
                //single loop - O(n)
                e.brokers.forEach((el, index) => {
                    obj[el] = index;
                });

                //single loop - O(n)
                var check = brokers.every((el) => {
                  return obj[el] !== undefined; //because 0 is falsy
                });
                if (e.id == entityId && e.type == entityType && check) {
                  entity = e
                  return
                }
              });
            $('#entity_type').val(entity.type)
            $('#entity_id').val(entity.id)
            $("#id_brokers").selectpicker('val', entity.brokers)
            //$('#broker_type').triggerHandler('change');
            delete entity.type
            delete entity.id
            delete entity.brokers
            $('#entity_type').prop( "disabled", true )
            $('#entity_id').prop( "disabled", true )
            $('#id_brokers').prop('disabled', true)
            let attrs = []
            for ([k,v] of Object.entries(entity)) {
              let attr = {
                name: k,
                value: v.value,
                type: v.type
                }
              if ("metadata" in v)
                attr.metadata = v.metadata
              else
                attr.metadata = ''
              var time = $('#attrs_forms')[0].childElementCount
              console.log("TIME" + time)

              var tag = `
                    <tr>
                      <td  class="align-middle" scope="row"><input type="text" name="attrs[${time}][name]" maxlength="30" class=" form-control" value="${attr.name}" required></td>
                      <td class="align-middle"><input type="text" name="attrs[${time}][value]" class=" form-control" value="${escapeHtml(JSON.stringify(attr.value))}" required></td>
                      <td class="align-middle"><input type="text" name="attrs[${time}][type]" maxlength="30" class=" form-control" value="${attr.type}" required></td>
                      <td class="align-middle"><input type="text" name="attrs[${time}][metadata]" class=" form-control" value="${attr.metadata==''?'':escapeHtml(JSON.stringify(attr.metadata))}"></td>
                      <td class="align-middle">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button onclick="$(this).closest('tr').remove()" type="button" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button>
                          </div>
                        </div>
                      </td>
                    </tr>`
              $('#attrs_forms').append(tag)
            }
          })
        }

        modal.find('#new_entity_submit').click(function () {
            var entity_form = modal.find("#new_entity_form")
            if (!entity_form[0].reportValidity())
              entity_form = modal.find("#new_entity_form")
                let body = {
                  id: $('#entity_id').val(),
                  type: $('#entity_type').val(),
                  brokers: $("#id_brokers").val(),
                  attrs: []
                }
            var attr = {}
            document.querySelectorAll("#new_entity_form tbody tr").forEach(tr=>{
              $inputs = $(tr).find("input")
              var attr = {}
              $inputs.each(i=>{
                  input = $inputs[i]
                  params = input.name.replace(/\[|\]/g,"_").replace("__","_").split("_")
                  if (params[2] == "value" || params[2] == "metadata") {
                    try {
                      attr[params[2]] = JSON.parse(input.value)
                    } catch (e) {
                      attr[params[2]] = input.value
                    }
                   } else {
                    attr[params[2]] = input.value
                   }
                })
              body.attrs.push(attr)
              })
            $("<input />").attr("type", "hidden")
              .attr("name", "entity")
              .attr("value", JSON.stringify(body))
              .appendTo(entity_form);
            //entity_form.trigger('submit')
            //onNewBrokerSubmit()
          console.log(modal.find('#new_broker_submit'))
        })
        {% comment %} modal.find('#new_entity_submit').click(function() {
            if (modal.find("#new_entity_form")[0].reportValidity())
              modal.find("#new_entity_form").trigger('submit')
        }) {% endcomment %}
        console.log(modal.find('#new_entity_submit'))
      })

      $('#add_attr_form').on('click', add_attr)
    });
</script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
{% endblock %}