#sidebar {
  padding-left: 0;
  padding-right: 0;
}

.stoic-icon {
  height: 64px;
  width: 64px;
}

.stoic-img-container,.stoic-text-index {
  text-align: center;
}

.stoic-img {
  height: 300px !important;
  width: 300px !important;
}

.stoic-color {
  color: white
}

.table-responsive tr td:last-child{
  width:1%;
  white-space:nowrap;
}

/* #sidebar > .navbar {
  height: 100vh;
  left: 0;
} */

/* .card {
  margin-bottom: 2rem;
} */

@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 5;
  }
}