#sidebar {
    padding-left: 0;
    padding-right: 0;
  }
  
  .stoic-icon {
    height: 64;
    width: 64;
  }
  
  .stoic-img {
    height: 300;
    width: 300;
  }
  
  #sidebar > .navbar {
    height: 100vh;
    left: 0;
  }
  
  .card {
    margin-bottom: 2rem;
  }