{% extends 'layout.html' %}
{% load static %}
{% load bootstrap %}
{% block content %}
<div class="row">
    <div class="col-6 stoic-text-index">
        <h1>Welcome to STOIC</h1>
        <p>Log in and start creating new multiplatform IoT applications right now!</p>
        <div class="stoic-img-container">
        <img class="stoic-img" src="{% static 'img/greek-column-black.svg' %}">
        </div>
    </div>
    {% if not user.is_authenticated %}
    <div class="col-6">
        {% csrf_token %}
        {{ form|bootstrap }}
    </div>
    {% endif %}
</div>
{% endblock %}