{% load static %}
{% load bootstrap %}
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img class="stoic-icon" src="{% static 'img/greek-column.svg' %}"> STOIC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="http://google.com">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="/accounts/logout">Logout</a>
                    </div>
                  </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Login
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form class="px-4 py-3" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {{ form.username|bootstrap }}
                            {{ form.password|bootstrap }}
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">New around here? Sign up</a>
                        <a class="dropdown-item" href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
            <div id="sidebar" class="col-2">
                <nav class="navbar navbar-inverse bg-light flex-column">
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="{% url 'projects:index' %}"><i class="fa fa-file-code-o" aria-hidden="true"></i> Projects</a> -->
                            <a class="nav-link" href="{% url 'brokers:index' %}"><i class="fa fa-file-code-o" aria-hidden="true"></i> Platforms</a>
                        </li>
                        {#% if active %#}
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'manager:devices_index' %}"><i class="fa fa-cogs" aria-hidden="true"></i> Devices</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'manager:entities_index' %}"><i class="fa fa-object-group" aria-hidden="true"></i> Entities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'manager:associations_index' %}"><i class="fa fa-link" aria-hidden="true"></i> Associations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'manager:tasks_index' %}"><i class="fa fa-tasks" aria-hidden="true"></i> Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'manager:dashboard_index' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link " href="#">Link 3</a>
                        </li> -->
                        {#% endif %#}
                    </ul>
                </nav>
            </div>
            {% endif %}
            <div class="col-10">
                <div id="header">
                    <!-- <h1><a href="/">Django CRUD Example</a></h1> -->
                </div><!-- header -->
                <br/>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>