{% load static %}
{% load bootstrap %}
<!doctype html>
<html lang="en">
  <head>
    <title>STOIC</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script> {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
            {% if user.is_authenticated %}
			<nav id="sidebar" class="active">
				<h1><a href="/" class="logo">S.</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="{% url 'brokers:index' %}"><span class="fas fa-server"></span> Platforms</a>
                    </li>
                    <li>
                        <a href="{% url 'manager:devices_index' %}"><span class="fa fa-cogs"></span> Devices</a>
                    </li>
                    <li>
                        <a href="{% url 'manager:entities_index' %}"><span class="fa fa-object-group"></span> Entities</a>
                    </li>
                    <li>
                        <a href="{% url 'manager:associations_index' %}"><span class="fa fa-link"></span> Links</a>
                    </li>
                    <li>
                        <a href="{% url 'manager:tasks_index' %}"><span class="fa fa-tasks"></span> Tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'manager:dashboard_index' %}"><span class="fas fa-chart-line"></span> Charts</a>
                    </li>
                </ul>

        <div class="footer">
        	<p>
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					</p>
        </div>
    	</nav>
        {% endif %}
        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            {% if user.is_authenticated %}
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            {% endif %}
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="/accounts/logout">Logout</a>
                    </div>
                  </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Login
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form class="px-4 py-3" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {{ form.username|bootstrap }}
                            {{ form.password|bootstrap }}
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">New around here? Sign up</a>
                        <a class="dropdown-item" href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>

        {% block content %}
        {% endblock %}
      </div>
		</div>

    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
