{% extends 'layout.html' %}
{% load bootstrap %}
{% block content %}
<h2 class="mb-4">Devices</h2>
<input class="form-control" id="devices-filter" type="text" placeholder="Search..">
<br>
<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="bg-primary stoic-color">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Broker</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id="devices-table">
    {% for device in devices %}
    <tr>
      <th  class="align-middle" scope="row">{{ forloop.counter0 }}</th>
      <td class="align-middle">{{ device.id }}</td>
      <td class="align-middle">{{ device.type }}</td>
      {% if 'description' in device %}
      <td class="align-middle">{{ device.description }}</td>
      {% else %}
      <td class="align-middle">No description</td>
      {% endif %}
      <td class="align-middle">{{ device.broker }}</td>
      <td class="align-middle">
            <!-- <button onclick="location.href='{=% url 'manager:index' %}';" type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button> -->
            <button onclick="location.href='{% url 'manager:devices_delete' %}?type={{ device.type }}&id={{ device.id }}&broker={{ device.broker }}';" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot class="bg-primary stoic-color">
    <tr>
      <td scope="col">#</td>
      <td scope="col">ID</td>
      <td scope="col">Type</td>
      <td scope="col">Description</td>
      <td scope="col">Broker</td>
      <td scope="col">Action</td>
    </tr>
  </tfoot>
</table>
</div>
<!-- <button type="button" class="btn btn-primary" onclick="location.href='{=% url 'manager:new' %}';">New devices</button> -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_device">New device</button>

<div class="modal fade" id="new_device" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">New device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new_device_form" method="post" action="{% url 'manager:devices_new' %}">
          {% csrf_token %}
          {{ form.errors }}
          {{ form|bootstrap }}
        </form>
      </div>
      <div class="modal-footer">
        <button id="new_device_submit" type="button" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
      $("#devices-filter").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#devices-table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $('#new_device').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('project') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        if (recipient != undefined) {
          modal.find('.modal-title').text('New message to ' + recipient)
          modal.find('.modal-body input').val(recipient)
        }
        modal.find('#new_device_submit').click(function() {
            if (modal.find("#new_device_form")[0].reportValidity())
              modal.find("#new_device_form").trigger('submit')
        })
        console.log(modal.find('#new_device_submit'))
      })
    });
</script>
{% endblock %}